<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="home-page">
  <!-- this is a comment in HTML -->
  <div>
    <header>
    {{#each user}}
    <div align="center" style="font-weight: bold; color: white; font-size: 25px;">Welcome {{name}} !</div>
    {{/each}}
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
    </header>

    <div class="menu">
    <ul>
        <li><a href="/analytics">Analytics</a></li> 
        <li><a href="/support">Support</a></li> 
        <li><a href="/logout">Log Out</a></li>
    </ul>
    </div>

      {{#each user}}
      <div class ="stats">
      <div class="coins header-title">{{coins}}</div>
      <img src= {{img1}} width="150"/>
      </div>
      

      <div class = "pet">
        <p align = "center">
          <a href="/shop"><img src={{dog}} width="300"></a>
        </p>
      </div>
      {{/each}}

      <div class = "input">
        <p><a href="/input"><img src="/images/input_btn.png" width="50"></a></p>
      </div>

      <!-- <div class = "analytics">
        <p><a href="/analytics" class="btn"><img src = "/images/analytics_button.png" width="24"></a></p>
      </div> -->
 



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
  </body>
</html>
