<!DOCTYPE html>
<html>
  <head>
    <title>Log into Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
      body { background-image:none !important; background-color: #89c65b;}
    </style>
  </head>

  <body>
  <!-- this is a comment in HTML -->
  <div>
    <header>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
    </header>

    <div class="menu">
    <ul>
        <li><a href="/">Home</a></li> 
        <li><a href="/support">Support</a></li> 
    </ul>
    </div>

    <div class="signup" style="text-align: center">
      <h1 class="header-title">Log into Account</h1>
      <form action="/home" method="post">
      <input type="text" placeholder="Username" class="focus" id="username" name="username"><br><br>
      <input type="Password" placeholder="Password" id="password" name="password"><br>
      <br><br><br>
      <p> {{message}} </p>
      <input type="submit" value="Login" class="btn">
      <a href="/" class="btn">
        Quit</a>
      </form>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88076750-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
