<!DOCTYPE html>
<html>
  <head>
    <title>Log into Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- this is a comment in HTML -->
  <div>
    <header>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
    </header>

    <div class="menu">
    <ul>
        <li><a href="/">Home</a></li> 
        <li><a href="/support">Support</a></li> 
    </ul>
    </div>

    <div class="signup" style="text-align: center">
      <h1 class="header-title">Log into Account</h1>
      <input type="text" placeholder="Username" class="focus"><br><br>
      <input type="Password" placeholder="Password"><br>
      <br><br><br>
      <a href="/home" class="btn">
        Confirm</a>
      <a href="/" class="btn">
        Quit</a>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
  </body>
</html>
