<!DOCTYPE html>
<html>
  <head>
    <title>Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
      body { background-image:none !important; background-color: #89c65b;}
    </style>
  </head>

  <body>
  <!-- this is a comment in HTML -->
  <div>
    <header>
    <div align="center" style="font-weight: bold; color: white; font-size: 25px;">Support</div>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
    <a href="/home"><button class="back"><</button></a>
    </header>

    <div class="menu">
    <ul>
      <li><a href="/home">Home</a></li>
        <li><a href="/analytics">Analytics</a></li> 
        <li><a href="/settings">Settings</a></li> 
        <li><a href="/logout">Log Out</a></li>
    </ul>
    </div>

    <div class = "signup" style="text-align: center">
      <h4 class="header-title" style="padding-top: 25px;width: 300px; margin: 0 auto;">
           Your HP has been calculated based on what 
           your inputted income was. On the bottom right of the home screen, you
           have a button that is used to input your expenses!! <br><br>

           Every time you input an expense, your HP goes down by a certain
           amount. The more often you spend money, the faster your HP depletes. 
           However, you will also be rewarded for every input you make to 
           incentiize you. <br><br>

           With your rewards, you can spend them in our shop to personalize/
           improve your pet!! Compare with your friends to see who has the
           BEST pet!! 😊


      </h4>
      
    </div>
  </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
  </body>
</html>
