/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/lorempixel.jumbotron.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

/*new stuff*/
header{
     width:100%; 
     background:#4ecd00; 
     height:60px; 
     line-height:60px;
}
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0;
  right:0;
  padding:5px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.btn{
  background-color: #5c3915;
  color:#ffffff;
  font-weight: bold;
  width: 100px;
}

.menu{z-index:1000000; font-weight:bold; font-size:1.5em; width:100%; background:#4ecd00;  position:absolute; text-align:center;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; font-family: 'Quicksand', sans-serif; font-weight: bold;}
.menu li:hover{display: block; padding:15px 0 15px 0;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;}
.menu ul li a:hover { color: #ffd35c; text-decoration:none;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;

}

.stats {
  position: absolute; 
  top: 60px;  
  margin:10px;
  left: 0;
}

.pet {
  margin-top: 250px;
}

.input {
  position: absolute; 
  bottom:0;  
  margin:10px;
  right: 0;
}

.analytics {
  position: absolute; 
  bottom:0; 
  margin:10px;
  left: 0;
}


